@import "../../utils/global";

.Order {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1800px;
  @include responsive-tablet {
    width: 80%;
  }
}

.Return {
  margin: 20px 45px;
  @include responsive-tablet {
    margin: 30px 50px;
  }
}

.middleSection {
  width: 100%;
  @include responsive-small-desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }
}

.UserBlueBox {
  padding-left: 45px;
  padding-bottom: 20px;
  @include responsive-small-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-top: 100px;
  }
}

.CreatingOrderFor {
  margin: 20px 0px;
}

.ContinueWithPayment {
  margin: 20px 45px;
}

.addressTextArea {
  resize: none;

  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 120px;
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  @include responsive-tablet {
    font-size: 20px;
    height: 150px;
  }
}

.OrderDataBlueBox {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsive-small-desktop {
    padding: 100px 20px;
  }
}

.EnterCreditCardInfo {
  margin-top: 20px;
  text-align: center;
  @include responsive-tablet {
    margin-top: 50px;
  }
}

.PleaseEnterCC {
  color: $danger-red-text;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.RemainingCharacters {
  font-size: 23px;
  color: $ligth-blue-text;
  @include responsive-tablet {
    font-size: 30px;
  }
}

.RemainingCharactersWarning {
  color: $danger-red-text;
}
