@import "../../utils/global";

.Results {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.Return {
  margin: 20px 45px;
}

// .ResultsBlueBox{

// }

.chocoboDancing {
  margin-bottom: -7px;
  margin-top: 20px;
}

.fatChocobo {
  margin-bottom: -105px;
  margin-top: 20px;
}

.InformationText {
  margin-left: 45px;
  margin-right: 20px;
}

.InformationLine {
  margin-top: 20px;
}
