@import "../../utils/global";

.Results {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  @include responsive-tablet {
    width: 80%;
  }
}

.Return {
  margin: 20px 45px;
  @include responsive-tablet {
    margin: 30px 50px;
  }
}

.ResultsBlueBox {
  @include responsive-tablet {
    padding: 30px 50px;
    padding-bottom: 0px;
  }
}

.chocoboDancing {
  margin-bottom: -7px;
  margin-top: 20px;
  max-width: 100%;
}

.fatChocobo {
  margin-bottom: -80px;
  margin-top: 20px;
  max-width: 100%;
}

.InformationText {
  margin: 20px;
}

.InformationLine {
  margin-top: 20px;
}
