@import "../../utils/global";

.CreditCardInfo {
  display: flex;
  align-items: center;
}

.CreditCardLogoContainer {
  height: 100px;
  width: 100px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
}

.CreditCardLogo {
  object-fit: contain;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CreditCardLogoInfo {
  margin-left: 15px;
  font-size: 22px;
}
