@import "../../utils/global";

.CcInfoModalContainer {
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
}

.CcInfoModal {
  width: 95%;
  height: auto;
  @include responsive-mobile {
    width: 400px;
  }
  @include responsive-tablet {
    width: 500px;
  }
}

.CloseModal {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsive-tablet {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.formInput {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  @include responsive-tablet {
    font-size: 25px;
    padding: 3px 10px;
  }
}

.expirationDate {
  width: 100px;
  margin-left: 20px;
  @include responsive-tablet {
    width: 130px;
  }
}

.cvv {
  width: 100px;
  margin-left: 20px;
}

.FormGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.FormGroupHorizontal {
  flex-direction: row;
}

.ModalBlueBox {
  padding: 20px 20px;
  padding-top: 0px;
}

.SubmitButton {
  margin-top: 45px;
  text-align: center;
  margin-left: 25px;
}

.SaveCreditCard {
  color: $ligth-blue-text;
}

.ShinraButton {
  margin-top: 45px;
}

.CreditCardLogoContainer {
  height: 100px;
  width: 100px;
  min-width: 100px;
  overflow: hidden;
  position: relative;
}

.CreditCardLogo {
  object-fit: contain;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MakeShinraPay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.shinraExplanation {
  font-size: 22px;
  @include responsive-tablet {
    font-size: 25px;
  }
}

.MakeShinraPayText {
  color: $danger-red-text;
  font-size: 25px;
  margin: 0 10px;
  @include responsive-tablet {
    font-size: 30px;
  }
}

.shinraLogo {
  height: 50px;
}
