@import "../../utils/global";

.Header {
  height: $header-height;
  // padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(24, 24, 24);
  margin-bottom: 30px;
}

.meteor {
  height: 50px;
}

.aboutProject {
  font-size: 22px;
  @include responsive-tablet {
    font-size: 30px;
  }
}

.aboutDeveloper {
  font-size: 22px;
  @include responsive-tablet {
    font-size: 30px;
  }
}
