@import "../../utils/global";

.Summary {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1800px;
  @include responsive-tablet {
    width: 80%;
  }
}

.Return {
  margin: 20px 45px;
  @include responsive-tablet {
    margin: 30px 50px;
  }
}

.middleSection {
  width: 100%;
  @include responsive-small-desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }
}

.UserBlueBox {
  padding-left: 45px;
  padding-bottom: 20px;
  @include responsive-small-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-top: 100px;
  }
}

.OrderSummary {
  margin: 20px 0px;
}

.ContinueWithPayment {
  margin: 20px 45px;
}

.SummaryBlueBox {
  padding: 20px 20px;
  @include responsive-small-desktop {
    padding: 20px 20px;
  }
  @include responsive-desktop {
    padding: 30px 100px;
  }
}

.ProductName {
  margin-top: 20px;
}

.ProductIcon {
  margin: auto 10px auto 0px;
  @include small-mobile-icon-height;
}

.CartItemInfoRow {
  display: flex;
  justify-content: space-between;
}

.CartItemInfoLabelRow p {
  color: $ligth-blue-text;
}

.CartItemInfoData {
  font-size: 25px;
}

.orderNumber {
  font-size: 22px;
  color: $ligth-blue-text;
  @include responsive-tablet {
    font-size: 30px;
  }
}

.shoppingCartlabel {
  margin-top: 45px;
  margin-bottom: 20px;
}

.PaymentMethodLabel {
  margin-top: 45px;
}

.AddressdLabel {
  margin-top: 20px;
}

.address {
  color: $ligth-blue-text;
  font-size: 25px;
  margin-top: 10px;
}

.PersonalDataCheckboxes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.checkboxText {
  font-size: 25px;
  cursor: pointer;
  @include responsive-tablet {
    font-size: 30px;
  }
}

.permalink {
  font-size: 25px;
  color: $ligth-blue-text;
  font-weight: bolder;
  &:hover {
    color: blue;
  }
}
